
 /*   #homecard{
        background: linear-gradient(pink,purple);
        height:100%;
        margin-bottom:0px;
        margin-top:0px;
        margin-left:0px;
        position: fixed;
    }
    */
#homecard1{
    background:linear-gradient(#000000);
    border-radius:10px;
    height:100%;
    left:0%;
    position:fixed;
    margin:0px;
    right:0% ;
    
}
    
    ion-title{
        text-align:center;
        font-family: 'Chela One', cursive;
        font-size:200px;
    }
    ion-button:hover{
        background:#24b317;
        height:100%;
    }
    #img1{
        width:35%;
        height: 35%;
        position: relative;
        left:35%;
        border-radius:5%;
        margin:2px;
        margin-top:10%;
    }
    #img1:hover{
        box-shadow:2px 8px 2px grey;
    }
    #new{
     background:#1484a0;
        color:white;
        width:80%;
        height:30px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        font-family: 'Times New Roman', Times, serif;
        font-weight:bold;
        font-size:25px;
        margin-top:15%;
        margin-bottom:10%;
        white-space: 20px;
        margin-left:10%;
    }
    #new:hover{
        box-shadow: 3px 8px 3px grey;
        font-family:impact;
    }
    #homelist{
        margin-top:5%;
        background:linear-gradient(#000000,yellow);
        opacity:1;
    }
   
    
    ion-item{
        opacity:1;
    }
    a:hover{
        text-decoration:underline;
    }
    #input1{
        bottom:30%;
        top:30%;

    }
    
ion-item{
    margin-top:30%;
    margin-bottom:20%;
}
    a{
        text-decoration:underline;
    }